/*
#e3e0cc
#f0f0f0
#c5d5c5
#9fa9a3
*/

body {
    background-color: #f0f0f0;
}
h2 {
    color: #9fa9a3;
    font-family: Calibri;

}
p {
    color: black;
    font-family: Calibri;
}

a {
    color: #9fa9a3;
    font-family: Calibri;
}

button {
    color: #9fa9a3;
    font-family: Calibri;
}